<ol class="breadcrumb">
	<li class="active"><a href="#incidentSearch">Gestión de
			Sujetos</a>
	<li>Detalle Sujeto
</ol>
<div class='' ng-controller="SubjectDetailCtrl">
	<form class="form-horizontal" role="form" novalidate>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">

				<fieldset class="scheduler-border">
					<legend class="scheduler-border">
						<span ng-show="!showSubjectCode()">Nuevo Sujeto</span> <span
							ng-show="showSubjectCode()">Sujeto {{subject.subjectCode}}</span>
					</legend>

					<div class="row">



						<div class="col-sm-4">
							<label class="control-label" for="identificationType">Tipo
								identificador</label> <select id="identificationType"
								ng-model="subject.identificationType" name="identificationType"
								ng-options="obj.id as obj.name for obj in tipoIdentificadorList"
								class="form-control">
							</select>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="identificationNumber">Identificador</label><input
								id="identificationNumber" name="identificationNumber"
								class="form-control col-sm-2" type="text"
								ng-model="subject.identificationNumber" />
						</div>

						<div class="col-sm-6">
							<span></span>
						</div>

					</div>

					<div class="row">
						<div class="col-sm-6">
							<label class="control-label" for="firstName">Nombre</label><input
								id="firstName" name="firstName" class="form-control" type="text"
								ng-model="subject.firstName" />
						</div>
						<div class="col-sm-6">
							<label class="control-label" for="lastName">Apellidos</label><input
								id="lastName" name="lastName" class="form-control " type="text"
								ng-model="subject.lastName" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label class="control-label" for="email">E-mail</label><input
								id="email" name="email" class=" form-control " type="text"
								size="40" ng-model="subject.email" />
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="gender">Sexo</label><select
								id="gender" name="gender" class="form-control col-sm-2"
								ng-model="subject.gender"
								ng-options="obj.id as obj.name for obj in genderList">
								<option value="0">Escoja una opci&oacute;n</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label class="control-label" for="educationLevel">Nivel
								estudios</label><select id="educationLevel" name="educationLevel"
								class=" form-control" ng-model="subject.educationLevel"
								ng-options="obj.id as obj.name for obj in educationList">
								<option value="0">Escoja una opci&oacute;n</option>
							</select>
						</div>


						<div class="col-sm-6">
							<label class="control-label" for="dateOfBirth">Fecha
								Nacimiento </label>
							<div class="row">
								<div class="col-md-6">
									<p class="input-group">
										<input type="text" class="form-control" id="dateOfBirth"
											name="dateOfBirth" uib-datepicker-popup="{{format}}"
											ng-model="subject.dateOfBirth" is-open="popup1.opened"
											datepicker-options="dateOptions" ng-required="true"
											close-text="Close" alt-input-formats="altInputFormats" /> <span
											class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open1()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</p>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-sm-2">
							<label class="control-label" for="email">Teléfono</label><input
								id="mobilePhone" name="mobilePhone"
								class="col-sm-2  form-control" type="text"
								ng-model="subject.mobilePhone" />
						</div>
						<div class="col-sm-4">
							<span></span>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="workPhone">Teléfono
								Trabajo</label><input id="workPhone" name="workPhone"
								class="col-sm-2 form-control " type="text"
								ng-model="subject.workPhone" />
						</div>

					</div>

					<div class="row">

						<div class="col-sm-6">
							<label class="control-label" for="maritalStatus">Estado
								Civil</label> <select id="maritalStatus" name="maritalStatus"
								class="col-sm-2 form-control " ng-model="subject.maritalStatus"
								ng-options="obj.id as obj.name for obj in maritalStatusList">
								<option value="0">Escoja una opci&oacute;n</option>
							</select>
						</div>
						<div class="col-sm-6">
							<label class="control-label" for="nacionality">Nacionalidad</label><input
								id="nacionality" name="nacionality" class=" form-control "
								type="text" ng-model="subject.nacionality" />
						</div>

					</div>

					<div class="row">

						<div class="col-sm-6">
							<label class="control-label" for="occupation">Ocupación</label><select
								id="occupation" name="occupation" class=" form-control "
								ng-model="subject.occupation"
								ng-options="obj.id as obj.name for obj in ocupationList">
								<option value="0">Escoja una opci&oacute;n</option>
							</select>
						</div>
						<div class="col-sm-6">
							<label class="control-label" for="address">Dirección</label> <input
								id="address" name="address" class=" form-control "
								ng-model="subject.address" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<label class="control-label col-sm-2" for="comments">Observaciones</label>
							<textarea id="comments" name="comments" rows="5"
								ng-model="subject.comments" class=" form-control"></textarea>
						</div>
					</div>

				</fieldset>

				<div class="row">
					<div class="col-md-6 text-right">
						<a href="#incidentDetail" class="btn btn-warning .navbar-right">Atrás</a>
						<a href="#incidentDetail" ng-click="saveSubject()"
							class="btn btn-warning .navbar-right">Guardar</a>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>

	</form>
</div>
